notebook.ipynb
my_session.session2
orders_table_2.csv
orders_table.csv
photo_2025-09-08_16-27-04.jpg
raw_customers.csv
raw_orders.csv
raw_products.csv
thecode2.log
raw_generated_data_archive
VISA_folder/.env
venv
VISA_folder/chromedriver-linux64.zip
VISA_folder/google-chrome-stable_current_amd64.deb
VISA_folder/chromedriver-linux64
VISA_folder/my_session.session